* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DECLARANDO UMA VARIAVEL NO CSS */
:root{
    --vermelho: #e50914;
    --preto: #141414;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

a {
    text-decoration: none;
}
/* SEPARANDO OS ITENS DO CABEÇALHO */
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin: 5px;
    color: white;
    font-family: 'Arial Black', Times;
    font-size: 35px;
}

header nav a {
    color: #AAA;
    font-size: 18px;
    margin-right: 10px;
}
header nav a:hover {
    color: #b13030;
}
/* JOGO PRINCIPAL */
.jogo-principal {
    font-size: 14px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/recursos/img/cyberpunk.jpg);
    /* imagem retirado de https://wall.alphacoders.com/wallpaper.php?i=988090&w=1920&h=1080&type=crop&lang=Portuguese */

    /* modificando o tamanho da imagem */
    height: 400px;
    background-size: cover;

    /* trabalhando com os botões */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

.jogo-principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;


}

.jogo-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: monospace;
    

}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 14px 28px; /*Espaçamento interno*/
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    /* background-color: var(--vermelho); */
    background-color: yellow;
    color: var(--preto);

}

/* COLOCANDO ESPAÇAMENTO NOS ICONES DOS BOTÕES */
.botao i {
    margin-right: 5px;
}

.container {
    /*Recua 20px para a esquerda os itens pertecentes a classe container*/
    margin-left: 20px; 
}

.jogo-principal .container {
    width: 70%; /*Diminua o tamanho da tela e descubra o que acontece*/
}

/* definido o tamanho das imagens no carousel */
.box-jogo {
    height: 100%;
    width: 100%;
    display: block;
}

/* COLOCANDO ESPAÇAMENTO ENTRE OS ITENS DO CAROUSEL */
.carrosel-games {
    margin-top: 5px;
}